<li class="project">
  <h3><%= project.title %></h3>
  <span id="authors"><%= project.students.collect{|s| s.name}.join(', ') %></span><br />
  <% unless project.description.blank? %>
  <span id="desc"><%= project.description %></span><br />
  <% end %>
  <%= link_to project.repo_url, project.repo_url unless project.repo_url.blank? %>
</li>
