<h2 id="projektid">Projektid</h2>

<p>Ühes (veebi)projektis peaks kajastuma enam-vähem järgmised töövahendid/funktsionaalsus:</p>

<ul>
  <li>ORM, migratsioonid</li>
  <li>Testid</li>
  <li>Controller, view, helper methods</li>
  <li>Kasutajate autentimine</li>
  <li>Ruby Gem’i pakendatud funktsionaalsus</li>
  <li>Rake task</li>
  <li>API väljund (JSON, XML)</li>
  <li>Deploy</li>
</ul>
<h3 id="meie-poolt-pakutavad-projekti-teemad">Meie poolt pakutavad projekti teemad</h3>
<ul>
  <li>Oksjon</li>
  <li>Korteriühistu intranet</li>
  <li>Groupon / Cherry kloon</li>
  <li>Keskmine firma kodulehekülg (CMS, galerii, kontaktivorm)</li>
  <li>Facebooki rakendus</li>
  <li>E-pood</li>
  <li>Foorum / e-posti list</li>
  <li>E-valimised</li>
  <li>…</li>
</ul>
<h3 id="valitud-teemad">Valitud projekti teemad</h3>
<ul>
<%= render :partial => @projects %>
</ul>
