<h3>Ruby on Rails ja turvalisus</h3>
<br />
<p>
  Räägime rakenduse turvaliseks tegemisest .
</p>
<p>
Viited:
<ul>
  <li><a href="http://rubykr.github.com/rails_guides/security.html">Ruby On Rails Security Guide</a>
  <li><a href="http://www.quarkruby.com/2007/9/20/ruby-on-rails-security-guide">Extended Security Guide</a></li>
</ul>
</p>