<h3>Gem'i loomine</h3>
<br />
<p>
  Räägime veidi koodi pakendamisest Gem'iks. <br />
  Näitena kasutame Eesti isikukoodi validaatorit: <a href="https://github.com/noonius/isikukood">https://github.com/noonius/isikukood</a>
</p>
<p>
Viited:
<ul>
  <li><a href="http://docs.rubygems.org/">RubyGems Manuals</a></li>
  <li><a href="https://rubygems.org/">https://rubygems.org</a> - RubyGem'ide nn. keskrepositoorium</li>
  <li><a href="http://guides.rubygems.org/">RubyGems guides</a></li>
  <li><a href="http://railscasts.com/episodes/245-new-gem-with-bundler">Railscast Gem'i loomisest Bundler'i abil</a></li>
</ul>
</p>