<h3>View dekoratsioonid</h3>

<ul>
  <li><a href="https://github.com/seyhunak/twitter-bootstrap-rails">Twitter bootstrap rails</a></li>

  <li><a href="http://news.railstutorial.org/ruby-on-rails-tutorial-now-with-twitters-boot">How</a></li>

  <li><a href="http://twitter.github.com/bootstrap/base-css.html">Mida võimaldab</a></li>
</ul>                                                 