<h2 id="lisamaterjalid">Lisamaterjalid</h2>

<p>Dokumentatsioon</p>

<ul>
<li><a href="http://ruby-doc.org/">Ruby</a></li>
  <li><a href="http://api.rubyonrails.org/">Ruby on Rails</a></li>
  <li><a href="http://guides.rubyonrails.org/">Rails guides</a></li>
  <li>
<a href="http://apidock.com/">ApiDoc</a> - kommenteeritud Ruby ja Railsi dokumentatsioon</li>
</ul><p>Kasulikud blogipostitused</p>

<ul>
<li><a href="http://www.informit.com/articles/article.aspx?p=1759889">The Ruby Reading List</a></li>
</ul>